<li id="<%= feed_item.id %>">
  <%= link_to image_tag(feed_item.user.attachment.url, :height =>20, :width => 20), feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="content"><%= wrap(feed_item.content) %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
    <%@item=feed_item%>
  <% if current_user?(feed_item.user) %>
  
    <%=render 'shared/delete_micropost'%>
  <% end %>
</li>